# Server
HOST=*4
PORT=3000
APPROOT=http://localhost:3000
IP_FROM_HEADER=false

# Static
STATIC_DIR=static

# Database
SQLITE_DATABASE=data/hkforum.sqlite3
SQLITE_POOLSIZE=10

# Storage
STORAGE_BACKEND=local
STORAGE_LOCAL_ROOT=data/uploads
STORAGE_LOCAL_PUBLIC_BASE=/files
STORAGE_S3_BUCKET=
STORAGE_S3_REGION=ap-northeast-2
STORAGE_S3_ENDPOINT=
STORAGE_S3_FORCE_PATH_STYLE=true
STORAGE_S3_PUBLIC_BASE=

# OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
