
.tmp*
.opencode/
.codex/
.hsenv*
.stack-work/
.cabal-sandbox
.DS_Store
.env

dist*
static/tmp/
static/combined/
config/client_session_key.aes
cabal-dev/
yesod-devel/
cabal.sandbox.config
config/front/node_modules/
config/front/package-lock.json
data/

*.hi
*.o
*.lock
*.cabal
*.swp
*.keter
